/*Haut de Page*/

html,body {
    margin: 0%;
    padding: 0%;
} 
#header {
    background-color: #C2C3BA;
}
.logo{
    width: 15%;
    padding-left: 2%;
    padding-top: -5%;
}
#menu{
    background-color: #DBDCD7;
    display: flex;
    justify-content: center ;
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
}
#menu ul{
    display: flex;
    padding:0;
    margin:0;
    list-style-type:none;
}
#menu ul li{
    margin:30px;
    float:center; 
}
#menu ul li a{
    color: #7D7C7C ;
    text-decoration: none;
}

.fondinterieur{
    background-color: #DBDCD7;
    display: flex;
    padding: 30px;
    margin: 30px;
}
.jardins{
    width: 90%;
}
.gites{
    width: 117%;
}
.Restaurants{
    width: 80%;
    margin-left: 20%;
}
h3{
    text-align: center;
    color: #7D7C7C ;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
    color: #7D7C7C ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
#footer{
    background-color: #DBDCD7;
}
.contact{
    margin-right: 55%;
    color: #7D7C7C ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.follow{
    margin-left: 55%;
    color: #7D7C7C ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

